//folha de estilos

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: absolute;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #F5F5F5;
}

.navbar-text {
  margin-left: 15px;
}

.home-page {
   background-image: url('../assets/images/HomeOnLine.jpg');
   background-repeat: no-repeat;
   background-size:100%;
   background-position: 0px 25px;
   bottom: 0;
   color: black;
   left: 0;
   overflow: auto;
   padding: 3em;
   position: absolute;
   right: 0;
   text-align: center;
   top: 1em;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
